@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Banner Section */
.banner {
    background-image: url('./images/banner/banner2.png');
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.banner-description {
    width: 600px;
    padding-top: 100px;
    text-align: right;
    padding-right: 150px;
}

.banner h1 {
    font-size: 65px;
    font-weight: 900;
}

.banner p {
    color: #535c68;
    font-weight: 300;
    margin-top: 30px;
}

.banner .btn {
    background-color: #EE5A24;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    padding: 14px 20px;
    font-size: 19px;
    margin-top: 30px;
}


/* About me Section */
.about-me {
    width: 1100px;
    margin: 200px auto;
    display: flex;
    justify-content: space-between;
}

.about-me .about-title {
    margin-top: 150px;
    width: 400px;
}

.about-title h4 {
    background-color: #55efc4;
    width: 150px;
    text-align: center;
    font-size: 20px;
    padding: 8px 12px;
    border-radius: 40px 0;
}

.about-title h2 {
    font-size: 34px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about-title h2 span {
    color: #eb4d4b;
}

.about-title p {
    font-size: 18px;
}

.about-title .primary-btn {
    background-color: #82ccdd;
    border: none;
    border-radius: 6px;
    padding: 8px 15px;
    margin-top: 30px;
}


/* Failure Section */
.container {
    width: 1100px;
    margin: 100px auto;
}

.failure-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.failure-image {
    width: 400px;
}

.failure-title {
    width: 400px;
    margin: 100px 0 0 0;
}

.failure-title h2 {
    width: 300px;
    font-size: 35px;
    margin-bottom: 25px;
}

.failure-description {
    margin: 30px 0;
}

.failure-description p img {
    width: 25px;
    height: 20px;
}


/* Planning Section */
.my-plan {
    margin-top: 120px;
}

.my-plan h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 50px;
}

.planning-display {
    display: flex;
    justify-content: space-between;
}

.blogs {
    text-align: center;
}
.blogs h3 {
    font-size: 25px;
}
.blogs p {
    font-size: 20px;
    font-weight: 600;
    color: #57606f;
}


/* Small Banner Section */
.small-banner {
    padding: 2rem;
    height: 300px;
    background-image: url('./images/watch.png'), url('./images/gradient1.png');
    background-position: right, left;
    background-blend-mode: soft-light;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 15px;
    box-shadow:  12px 12px 26px #a8a8a8,
             -12px -12px 26px #ffffff;
}

.text-content {
    width: 450px;
    margin: 2rem 2rem;
}

.text-content h2 {
    font-size: 35px;
    color: #ffffff;
}

.text-content button {
    border: none;
    background-color: #B33771;
    color: #ffffff;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 20px;
}

